
.split {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #F5F9FF;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #F5F9FF;
}

.logo {
  /* height: 550px;
  width: 550px; */
position: absolute;
width: 500px;
height: 623px;
left: -20px;
top: -20px;

border: 1px dashed #9747FF;
border-radius: 5px;
}

.headersignup {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: #8692a6;
  margin-top: 40px;
  margin-right: 40px;

}
.join {
    font-weight: 700;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
}
.note{
font-weight: 400;
font-size: 13px;
line-height: 28px;
/* or 156% */

display: flex;
align-items: center;

color: #8692A6;
}

.content {
      /* border: 2px solid red; */
    width: 550px;
height: 400px;
margin: 25px;
}
.join {
      /* border: 2px solid red; */
    margin-top: 72px;
    margin-left:71px ;
     margin-right:300px ;
   
}
.note {
      /* border: 2px solid red; */
    margin-top: 10px;
    margin-left:71px ;
}
.middle , .middle-1 {
   
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 20px;
  height: 90px;
  width: 400px;
  background: #F5F9FF;
border: 1px solid #1565D8;
box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
border-radius: 6px;
margin-left: 70px;

}
.middle-center p  , .middle-center-1 p{
   font-weight: 400;
font-size: 10px;
line-height: 17px;

}
.middle-center h3  ,.middle-center-1 h3 {
    font-weight: 500;
font-size: 16px;
line-height: 19px;
}

.arrow {
    height: 20px;
    width: 20px;
}

.middle-1 {
background: #FFFFFF;
box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06);
border-radius: 6px;
border: 0px;
}